button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Capriola", sans-serif;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    box-sizing: border-box;
    flex-shrink: 0;
    transition: all 0.25s ease-in-out;
}

.btn:active {
    transform: translateY(2px);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.12);
}

.btn--search {
    width: 294px;
    height: 55px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.btn--icon {
    width: 60px;
    height: 55px;
    font-size: 20px;
    padding: 0;
    box-shadow: none;
}

.btn--special-icon i {
    font-size: 42px;
}

.btn--wide {
    width: 135px;
}

.btn--white {
    background-color: var(--bg-white);
    color: var(--primary-green);
}

.btn--transparent {
    background-color: transparent !important;
}

.btn--shadow {
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
}

.btn--white:hover {
    color: var(--active-purple);
}

.btn--green {
    background-color: var(--primary-green);
    color: var(--text-white);
}

.btn--green:hover {
    background-color: var(--active-purple);
}

.carousel-btn--left {
    left: 10px;
}

.carousel-btn--right {
    right: 10px;
}

@media (max-width: 1200px) {
    .btn--search {
        width: 100%;
        max-width: none;
    }

    .btn--icon {
        width: 50px;
        height: 50px;
    }

    .btn--wide {
        width: 85px;
    }
}