:root {
    --primary-green: #83965f;
    --active-purple: #8d5f73;
    --bg-light: #f7f8f9;
    --bg-white: #ffffff;
    --text-dark: #000000;
    --text-dark-gray: #4f4f4f;
    --text-gray: #828282;
    --text-white: #ffffff;
    --text-category: #8d5f73;
}