.products-grid {
    width: 100%;
    display: flex;
    gap: 32px;
    padding: 20px 40px;
    position: relative;
    left: -0.5%;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}