.product-card {
    background-color: var(--bg-light);
    border: 10px solid #f7f8f9;
    border-radius: 30px;
    width: 250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
    transition: all 0.4s ease-in-out;
}

.product-card:hover {
    transform: translateY(-4px) scale(1.05);
}

.card-image {
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 20px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    gap: 10px;
}

.product-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-dark-gray);
    margin: 0;
}

.product-desc {
    font-size: 16px;
    color: var(--text-gray);
    line-height: 1.4;
    margin: 0;
}

.card-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}

.price, .discount {
    font-size: 28px;
    font-weight: 700;
    color: var(--primary-green);
}

.card-buttons {
    display: flex;
    gap: 10px;
}

.card-buttons .btn--green {
    flex: 1;
    font-size: 20px;
}

@media (max-width: 768px) {
    .product-card {
        width: 300px;
        min-width: 300px;
    }
    .card-image-wrapper {
        height: 280px;
    }
}